<a href="https://colab.research.google.com/github/chhandasaha/TrafficReroutingModule2/blob/master/module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#generate vid
import random as r
import numpy as np
import pandas as pd
type(r.randrange(100))

int

In [28]:
speed = []
waitTime = []
roadId = []
vid = list(range(0,2000))
for i in range(0,2000):
 rspeed= r.uniform(0,25)
 rwt= r.uniform(0,150)
 rid= r.randint(0,10)
 speed.append(rspeed)
 waitTime.append(rwt)
 roadId.append(rid)

speed[0],waitTime[0],roadId[0]
# vid[0:10]

(13.65720855985135, 51.13235585283541, 4)

In [29]:
data = {'speed':speed,'waitTime':waitTime, 'roadId' :roadId}
vehicle_data = pd.DataFrame(data, index = vid)
vehicle_data.head(30)

        speed    waitTime  roadId
0   13.657209   51.132356       4
1   24.235851   29.326921       1
2   11.071521  107.369012       9
3   17.269517   51.880050       0
4    8.103329   24.632221       7
5   17.759335  119.662499       0
6    4.769258   52.885470       1
7   13.344992  138.624840       4
8   14.059374   83.906340       2
9    5.288030   86.387146       7
10  17.496345  117.562625       7
11   6.380214  120.962631       4
12  24.694887   65.827192       6
13  18.769056   60.955565       5
14  15.650155  149.732113       6
15   6.821720   83.667186       7
16  17.285417   79.204988      10
17  19.485888   32.576052       3
18   1.422675  113.693677       1
19  15.925469   17.311375       6
20  16.352568    5.110231       6
21  18.316280   43.463915       0
22  17.695633  131.110097       7
23  14.295802  142.961611       8
24   1.806098   33.820494       4
25  11.513379   10.756759       1
26  12.052988   40.543600       5
27  12.819511   20.304362       3
28  18.305889  109.881657       2
29  23.127540   72.765191       7

In [0]:
def generateProbability(vehicle_data):
 # return vehicle_data.shape
 prob=[]
 nv = vehicle_data.shape[0]
 for i in range(0, nv):
   p = r.uniform(0,1)
   prob.append(p)
 return prob

In [31]:
p = generateProbability(vehicle_data)
data = {'speed':speed,'waitTime':waitTime, 'roadId' :roadId, 'prob' : p}
vehicle_data = pd.DataFrame(data, index = vid)
vehicle_data.head(10)

       speed    waitTime  roadId      prob
0  13.657209   51.132356       4  0.943510
1  24.235851   29.326921       1  0.783304
2  11.071521  107.369012       9  0.393893
3  17.269517   51.880050       0  0.219004
4   8.103329   24.632221       7  0.945973
5  17.759335  119.662499       0  0.585860
6   4.769258   52.885470       1  0.843248
7  13.344992  138.624840       4  0.567547
8  14.059374   83.906340       2  0.057032
9   5.288030   86.387146       7  0.242998

In [38]:
#olvehicle_data[vehicle_data['speed']<20].head(10) #vehicle_data['waitTime']>500]

vehicle_data[ vehicle_data['speed']<20 ][vehicle_data['waitTime'] > 100] [vehicle_data['prob'] > 0.5][vehicle_data['roadId'] == 5].index

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Int64Index([  90,  128,  154,  364,  370,  430,  466,  541,  568,  607,  621,
             659,  908, 1032, 1213, 1246, 1388, 1470, 1549, 1615, 1698, 1779,
            1953],
           dtype='int64')